// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "helpmenu.h"
#include "clipbrd.h"

CLIPBRD ICON "build\\win\\icons\\clipbrd.ico"

CLIPBRD MENU {
    POPUP "&File" {
        MENUITEM "E&xit", IDM_EXIT
    }
    POPUP "&Edit" {
        MENUITEM "&Delete\tDel", IDM_DELETE
    }
    POPUP "&Help" {
        MENUITEM "&Index", IDM_HELPINDEX
        MENUITEM "&Keyboard", IDM_HELPKEYBOARD
        MENUITEM "&Commands", IDM_HELPCOMMANDS
        MENUITEM "&Procedures", IDM_HELPPROCEDURES
        MENUITEM "&Using Help", IDM_HELPUSING
        MENUITEM SEPARATOR
        MENUITEM "&About Clipboard...", IDM_ABOUT
    }
}

CLIPBRD ACCELERATORS {
    VK_DELETE, IDM_DELETE, VIRTKEY
    VK_F1, IDM_HELPINDEX, VIRTKEY
}
