// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "helpmenu.h"
#include "control.h"

CONTROL ICON "build\\win\\icons\\control.ico"
COLOR ICON "build\\win\\icons\\ctlcolor.ico"
DATETIME ICON "build\\win\\icons\\ctldate.ico"
MOUSE ICON "build\\win\\icons\\ctlmouse.ico"
DESKTOP ICON "build\\win\\icons\\ctldesk.ico"
FONTS ICON "build\\win\\icons\\ctlfonts.ico"
PORTS ICON "build\\win\\icons\\ctlports.ico"
PRINTERS ICON "build\\win\\icons\\ctlprint.ico"
INTL ICON "build\\win\\icons\\ctlintl.ico"
KEYBOARD ICON "build\\win\\icons\\ctlkeyb.ico"
SOUND ICON "build\\win\\icons\\ctlsound.ico"

CONTROL MENU {
    POPUP "&Settings" {
        MENUITEM "&Color...", IDM_COLOR
        MENUITEM "&Fonts...", IDM_FONTS
        MENUITEM "P&orts...", IDM_PORTS
        MENUITEM "&Mouse...", IDM_MOUSE
        MENUITEM "De&sktop...", IDM_DESKTOP
        MENUITEM "&Printers...", IDM_PRINTERS
        MENUITEM "&International...", IDM_INTL
        MENUITEM "&Keyboard...", IDM_KEYBOARD
        MENUITEM "&Date/Time...", IDM_DATETIME
        MENUITEM "So&und...", IDM_SOUND
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    }
    POPUP "&Help" {
        MENUITEM "&Index", IDM_HELPINDEX
        MENUITEM "&Keyboard", IDM_HELPKEYBOARD
        MENUITEM "&Commands", IDM_HELPCOMMANDS
        MENUITEM "&Procedures", IDM_HELPPROCEDURES
        MENUITEM "&Using Help", IDM_HELPUSING
        MENUITEM SEPARATOR
        MENUITEM "&About Control Panel...", IDM_ABOUT
    }
}

COLORDLG DIALOG 20, 20, 196, 130
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Color"
{
    LTEXT "Color &Schemes", -1, 6, 6, 80, 10
    COMBOBOX IDC_SCHEME, 6, 17, 120, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 140, 6, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 140, 24, 50, 14, WS_TABSTOP
}

DATEDLG DIALOG 20, 20, 180, 70
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Date & Time"
{
    LTEXT "&Date (year, month, day):", -1, 6, 6, 116, 10
    EDITTEXT IDC_YEAR, 6, 17, 28, 12, WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_MONTH, 38, 17, 18, 12, WS_TABSTOP
    EDITTEXT IDC_DAY, 60, 17, 18, 12, WS_TABSTOP
    LTEXT "&Time (hour, minute, second):", -1, 6, 34, 116, 10
    EDITTEXT IDC_HOUR, 6, 45, 18, 12, WS_TABSTOP
    EDITTEXT IDC_MINUTE, 28, 45, 18, 12, WS_TABSTOP
    EDITTEXT IDC_SECOND, 50, 45, 18, 12, WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 124, 6, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 124, 24, 50, 14, WS_TABSTOP
}

MOUSEDLG DIALOG 20, 20, 160, 74
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Mouse"
{
    LTEXT "&Double Click Speed", -1, 6, 6, 90, 10
    LTEXT "Slow", -1, 6, 19, 20, 10
    SCROLLBAR IDC_SPEED, 28, 19, 70, 10, SBS_HORZ | WS_TABSTOP | WS_GROUP
    LTEXT "Fast", -1, 102, 19, 20, 10
    LTEXT "Test:", -1, 6, 38, 24, 10
    CONTROL "", IDC_TESTBOX, "CtlTestBox", WS_BORDER, 32, 34, 40, 18
    DEFPUSHBUTTON "OK", IDOK, 104, 54, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 48, 54, 50, 14, WS_TABSTOP
}

DESKDLG DIALOG 20, 20, 160, 50
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Desktop"
{
    LTEXT "Desktop &Color:", -1, 6, 6, 70, 10
    COMBOBOX IDC_DESKCOLOR, 6, 17, 90, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 104, 6, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 104, 24, 50, 14, WS_TABSTOP
}

FONTDLG DIALOG 20, 20, 220, 132
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Fonts"
{
    LTEXT "&Installed Fonts:", -1, 6, 4, 150, 9
    LISTBOX IDC_FONTS, 6, 14, 150, 74, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 164, 14, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "&Remove", IDC_REMOVEFONT, 164, 32, 50, 14, WS_TABSTOP
    PUSHBUTTON "&Add...", IDC_ADDFONT, 164, 50, 50, 14, WS_TABSTOP
    LTEXT "Sample", -1, 6, 87, 50, 9
}

PORTDLG DIALOG 20, 20, 150, 66
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Ports"
{
    LTEXT "&Ports:", -1, 6, 4, 80, 9
    LISTBOX IDC_PORTLIST, 6, 14, 80, 46, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "&Settings...", IDC_PORTSETTINGS, 94, 14, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Close", IDCANCEL, 94, 32, 50, 14, WS_TABSTOP
}

PORTSET DIALOG 30, 30, 170, 96
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Ports - Settings"
{
    LTEXT "&Baud Rate:", -1, 6, 8, 54, 9
    COMBOBOX IDC_BAUD, 62, 6, 46, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Data Bits:", -1, 6, 24, 54, 9
    COMBOBOX IDC_DATABITS, 62, 22, 46, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Parity:", -1, 6, 40, 54, 9
    COMBOBOX IDC_PARITY, 62, 38, 46, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Stop Bits:", -1, 6, 56, 54, 9
    COMBOBOX IDC_STOPBITS, 62, 54, 46, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Flow Control:", -1, 6, 72, 54, 9
    COMBOBOX IDC_FLOW, 62, 70, 46, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 114, 6, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 114, 24, 50, 14, WS_TABSTOP
}

PRINTERS DIALOG 20, 20, 250, 128
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Printers"
{
    LTEXT "Default Printer:", -1, 6, 6, 62, 9
    LTEXT "", IDC_DEFAULTPRN, 70, 6, 174, 9
    LTEXT "Installed &Printers:", -1, 6, 20, 120, 9
    LISTBOX IDC_PRINTERS, 6, 30, 182, 56, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 194, 30, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 194, 48, 50, 14, WS_TABSTOP
    PUSHBUTTON "&Configure...", IDC_CONFIGURE, 6, 90, 58, 14, WS_TABSTOP
    PUSHBUTTON "Set As &Default", IDC_SETDEFAULT, 68, 90, 58, 14, WS_TABSTOP
    PUSHBUTTON "&Remove", IDC_REMOVEPRN, 130, 90, 58, 14, WS_TABSTOP
    PUSHBUTTON "&Add Printer...", IDC_ADDPRN, 6, 108, 58, 14, WS_TABSTOP
    AUTOCHECKBOX "&Use Print Manager", IDC_SPOOLER, 70, 110, 110, 10, WS_TABSTOP
}

PRNCONFIG DIALOG 30, 30, 200, 100
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Printers - Configure"
{
    LTEXT "", IDC_PRNNAME, 6, 4, 188, 9
    LTEXT "&Ports:", -1, 6, 16, 60, 9
    LISTBOX IDC_PRNPORTS, 6, 26, 60, 68, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP | WS_GROUP
    LTEXT "Timeouts (seconds)", -1, 74, 16, 80, 9
    LTEXT "Device &Not Selected:", -1, 74, 30, 80, 9
    EDITTEXT IDC_NOTSELECTED, 156, 28, 22, 12, WS_TABSTOP
    LTEXT "&Transmission Retry:", -1, 74, 46, 80, 9
    EDITTEXT IDC_RETRY, 156, 44, 22, 12, WS_TABSTOP
    PUSHBUTTON "&Setup...", IDC_PRNSETUP, 74, 80, 50, 14, WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 144, 62, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 144, 80, 50, 14, WS_TABSTOP
}

PRNADD DIALOG 30, 30, 180, 70
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Add Printer"
{
    LTEXT "&List of Printers:", -1, 6, 4, 110, 9
    LISTBOX IDC_DRIVERS, 6, 14, 110, 50, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "&Install", IDOK, 124, 14, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 124, 32, 50, 14, WS_TABSTOP
}

INTLDLG DIALOG 20, 20, 260, 156
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "International"
{
    LTEXT "&Country:", -1, 6, 8, 56, 9
    COMBOBOX IDC_COUNTRY, 64, 6, 120, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Language:", -1, 6, 24, 56, 9
    COMBOBOX IDC_LANGUAGE, 64, 22, 120, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Measurement:", -1, 6, 40, 56, 9
    COMBOBOX IDC_MEASURE, 64, 38, 60, 40, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT "List &Separator:", -1, 6, 56, 56, 9
    EDITTEXT IDC_LISTSEP, 64, 54, 16, 12, WS_TABSTOP
    GROUPBOX "Date Format", -1, 6, 72, 248, 20
    LTEXT "", IDC_DATESAMPLE, 12, 80, 180, 9
    PUSHBUTTON "C&hange...", IDC_DATECHG, 198, 78, 50, 12, WS_TABSTOP
    GROUPBOX "Time Format", -1, 6, 92, 122, 20
    LTEXT "", IDC_TIMESAMPLE, 12, 100, 60, 9
    PUSHBUTTON "Ch&ange...", IDC_TIMECHG, 74, 98, 50, 12, WS_TABSTOP
    GROUPBOX "Currency Format", -1, 132, 92, 122, 20
    LTEXT "", IDC_CURRSAMPLE, 138, 100, 60, 9
    PUSHBUTTON "Cha&nge...", IDC_CURRCHG, 200, 98, 50, 12, WS_TABSTOP
    GROUPBOX "Number Format", -1, 6, 112, 122, 20
    LTEXT "", IDC_NUMSAMPLE, 12, 120, 60, 9
    PUSHBUTTON "Chan&ge...", IDC_NUMCHG, 74, 118, 50, 12, WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 198, 6, 56, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 198, 24, 56, 14, WS_TABSTOP
}

DATEFMT DIALOG 30, 30, 214, 92
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "International - Date Format"
{
    GROUPBOX "Order", -1, 6, 4, 60, 48
    AUTORADIOBUTTON "&MDY", IDC_MDY, 12, 14, 40, 10, WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "&DMY", IDC_DMY, 12, 26, 40, 10
    AUTORADIOBUTTON "&YMD", IDC_YMD, 12, 38, 40, 10
    LTEXT "&Separator:", -1, 6, 58, 40, 9
    EDITTEXT IDC_DATESEP, 48, 56, 14, 12, WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Day &Leading Zero (07 vs. 7)", IDC_DAYZERO, 72, 8, 136, 10, WS_TABSTOP
    AUTOCHECKBOX "M&onth Leading Zero (02 vs. 2)", IDC_MONTHZERO, 72, 22, 136, 10, WS_TABSTOP
    AUTOCHECKBOX "&Century (1990 vs. 90)", IDC_CENTURY, 72, 36, 136, 10, WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 104, 74, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 158, 74, 50, 14, WS_TABSTOP
}

TIMEFMT DIALOG 30, 30, 170, 76
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "International - Time Format"
{
    AUTORADIOBUTTON "&12 hour", IDC_12HOUR, 6, 8, 44, 10, WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "&24 hour", IDC_24HOUR, 6, 22, 44, 10
    LTEXT "&AM:", -1, 56, 8, 20, 9
    EDITTEXT IDC_AM, 78, 6, 30, 12, WS_TABSTOP | WS_GROUP
    LTEXT "&PM:", -1, 56, 22, 20, 9
    EDITTEXT IDC_PM, 78, 20, 30, 12, WS_TABSTOP
    LTEXT "&Separator:", -1, 6, 40, 40, 9
    EDITTEXT IDC_TIMESEP, 48, 38, 14, 12, WS_TABSTOP
    AUTOCHECKBOX "&Leading Zero (09:15 vs. 9:15)", IDC_TIMEZERO, 6, 56, 110, 10, WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 114, 6, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 114, 24, 50, 14, WS_TABSTOP
}

CURRFMT DIALOG 30, 30, 170, 80
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "International - Currency Format"
{
    LTEXT "Symbol &Placement:", -1, 6, 8, 64, 9
    COMBOBOX IDC_CURRPLACE, 72, 6, 50, 60, CBS_DROPDOWNLIST | WS_TABSTOP | WS_GROUP
    LTEXT "&Negative:", -1, 6, 24, 64, 9
    COMBOBOX IDC_CURRNEG, 72, 22, 50, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Symbol:", -1, 6, 40, 64, 9
    EDITTEXT IDC_CURRSYMBOL, 72, 38, 30, 12, WS_TABSTOP
    LTEXT "&Decimal Digits:", -1, 6, 56, 64, 9
    EDITTEXT IDC_CURRDIGITS, 72, 54, 16, 12, WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 128, 6, 38, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 128, 24, 38, 14, WS_TABSTOP
}

NUMFMT DIALOG 30, 30, 170, 80
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "International - Number Format"
{
    LTEXT "&1000 Separator:", -1, 6, 8, 64, 9
    EDITTEXT IDC_THOUSAND, 72, 6, 14, 12, WS_TABSTOP | WS_GROUP
    LTEXT "&Decimal Separator:", -1, 6, 24, 64, 9
    EDITTEXT IDC_DECIMAL, 72, 22, 14, 12, WS_TABSTOP
    LTEXT "Decimal Di&gits:", -1, 6, 40, 64, 9
    EDITTEXT IDC_DIGITS, 72, 38, 14, 12, WS_TABSTOP
    AUTORADIOBUTTON "&.7", IDC_NOZERO, 6, 58, 30, 10, WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "&0.7", IDC_ZERO, 40, 58, 30, 10
    DEFPUSHBUTTON "OK", IDOK, 114, 6, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 114, 24, 50, 14, WS_TABSTOP
}

KEYBDLG DIALOG 20, 20, 170, 70
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Keyboard"
{
    LTEXT "Key &Repeat Rate", -1, 6, 6, 90, 9
    LTEXT "Slow", -1, 6, 19, 20, 9
    SCROLLBAR IDC_RATE, 28, 19, 70, 10, SBS_HORZ | WS_TABSTOP | WS_GROUP
    LTEXT "Fast", -1, 102, 19, 20, 9
    LTEXT "&Test Typematic:", -1, 6, 38, 60, 9
    EDITTEXT IDC_TYPETEST, 66, 36, 56, 12, ES_AUTOHSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 128, 6, 36, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 128, 24, 36, 14, WS_TABSTOP
}

SOUNDDLG DIALOG 20, 20, 170, 44
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Sound"
{
    AUTOCHECKBOX "&Enable System Warning Beeps", IDC_BEEP, 6, 10, 116, 10, WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 126, 6, 38, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 126, 24, 38, 14, WS_TABSTOP
}

CONTROL ACCELERATORS {
    VK_F1, IDM_HELPINDEX, VIRTKEY
}
