// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "notepad.h"
#include "helpmenu.h"

NOTEPAD ICON "build\\win\\icons\\notepad.ico"

NOTEPAD MENU {
    POPUP "&File" {
        MENUITEM "&New", IDM_NEW
        MENUITEM "&Open...", IDM_OPEN
        MENUITEM "&Save", IDM_SAVE
        MENUITEM "Save &As...", IDM_SAVEAS
        MENUITEM "&Print", IDM_PRINT
        MENUITEM SEPARATOR
        MENUITEM "Page Se&tup...", IDM_PAGESETUP
        MENUITEM "P&rint Setup...", IDM_PRINTSETUP
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    }
    POPUP "&Edit" {
        MENUITEM "&Undo\tCtrl+Z", IDM_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X", IDM_CUT
        MENUITEM "&Copy\tCtrl+C", IDM_COPY
        MENUITEM "&Paste\tCtrl+V", IDM_PASTE
        MENUITEM "&Delete\tDel", IDM_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Select &All", IDM_SELECTALL
        MENUITEM "Time/&Date\tF5", IDM_TIMEDATE
        MENUITEM SEPARATOR
        MENUITEM "&Word Wrap", IDM_WORDWRAP
    }
    POPUP "&Search" {
        MENUITEM "&Find...", IDM_FIND
        MENUITEM "Find &Next\tF3", IDM_FINDNEXT
    }
    POPUP "&Help" {
        MENUITEM "&Index", IDM_HELPINDEX
        MENUITEM "&Keyboard", IDM_HELPKEYBOARD
        MENUITEM "&Commands", IDM_HELPCOMMANDS
        MENUITEM "&Procedures", IDM_HELPPROCEDURES
        MENUITEM "&Using Help", IDM_HELPUSING
        MENUITEM SEPARATOR
        MENUITEM "&About Notepad...", IDM_ABOUT
    }
}

NOTEPAD ACCELERATORS {
    "Z", IDM_UNDO, VIRTKEY, CONTROL
    "X", IDM_CUT, VIRTKEY, CONTROL
    "C", IDM_COPY, VIRTKEY, CONTROL
    "V", IDM_PASTE, VIRTKEY, CONTROL
    VK_F5, IDM_TIMEDATE, VIRTKEY
    VK_F3, IDM_FINDNEXT, VIRTKEY
    VK_F1, IDM_HELPINDEX, VIRTKEY
}

FIND DIALOG 20, 20, 190, 56
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Find"
{
    LTEXT "Fi&nd What:", -1, 6, 8, 40, 10
    EDITTEXT IDC_FINDWHAT, 48, 6, 86, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    CONTROL "Match &Case", IDC_MATCHCASE, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 6, 24, 60, 12
    GROUPBOX "Direction", -1, 70, 20, 64, 30
    CONTROL "&Up", IDC_UP, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 76, 32, 26, 12
    CONTROL "&Down", IDC_DOWN, "BUTTON", BS_AUTORADIOBUTTON, 102, 32, 30, 12
    DEFPUSHBUTTON "&Find Next", IDOK, 140, 6, 44, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 140, 24, 44, 14, WS_TABSTOP
}

PAGESETUP DIALOG 20, 20, 196, 98
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Page Setup"
{
    LTEXT "&Header:", -1, 6, 8, 34, 10
    EDITTEXT IDC_HEADER, 42, 6, 92, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Footer:", -1, 6, 26, 34, 10
    EDITTEXT IDC_FOOTER, 42, 24, 92, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    GROUPBOX "Margins", -1, 6, 42, 128, 50
    LTEXT "&Left:", -1, 12, 56, 24, 10
    EDITTEXT IDC_LEFT, 38, 54, 26, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Right:", -1, 72, 56, 24, 10
    EDITTEXT IDC_RIGHT, 100, 54, 26, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Top:", -1, 12, 74, 24, 10
    EDITTEXT IDC_TOP, 38, 72, 26, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Bottom:", -1, 72, 74, 26, 10
    EDITTEXT IDC_BOTTOM, 100, 72, 26, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 140, 6, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 140, 24, 50, 14, WS_TABSTOP
}
