// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "helpmenu.h"
#include "pifedit.h"

PIFEDIT ICON "build\\win\\icons\\pifedit.ico"

PIFEDIT MENU {
    POPUP "&File" {
        MENUITEM "&New", IDM_NEW
        MENUITEM "&Open...", IDM_OPEN
        MENUITEM "&Save", IDM_SAVE
        MENUITEM "Save &As...", IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    }
    POPUP "&Mode" {
        MENUITEM "&Standard", IDM_STANDARD
        MENUITEM "&386 Enhanced", IDM_ENHANCED
    }
    POPUP "&Help" {
        MENUITEM "&Index", IDM_HELPINDEX
        MENUITEM "&Keyboard", IDM_HELPKEYBOARD
        MENUITEM "&Commands", IDM_HELPCOMMANDS
        MENUITEM "&Procedures", IDM_HELPPROCEDURES
        MENUITEM "&Using Help", IDM_HELPUSING
        MENUITEM SEPARATOR
        MENUITEM "&About PIF Editor...", IDM_ABOUT
    }
}

STANDARD DIALOG 20, 20, 262, 194
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "PIF Editor"
MENU PIFEDIT
{
    LTEXT "&Program Filename:", -1, 6, 8, 82, 9
    EDITTEXT IDC_PROGRAM, 92, 6, 164, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Window &Title:", -1, 6, 24, 82, 9
    EDITTEXT IDC_TITLE, 92, 22, 164, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Optional Pa&rameters:", -1, 6, 40, 84, 9
    EDITTEXT IDC_PARAMS, 92, 38, 164, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Start-up &Directory:", -1, 6, 56, 82, 9
    EDITTEXT IDC_DIR, 92, 54, 164, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Video Mode:", -1, 6, 73, 82, 9
    AUTORADIOBUTTON "Te&xt", IDC_TEXT, 92, 72, 40, 10, WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "&Graphics/Multiple Text", IDC_GRAPHICS, 136, 72, 116, 10
    LTEXT "Memory Requirements:", -1, 6, 89, 84, 9
    LTEXT "KB Req&uired", -1, 92, 89, 50, 9
    EDITTEXT IDC_MEMREQ, 144, 87, 30, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "XMS Memory:", -1, 6, 105, 84, 9
    LTEXT "KB Re&quired", -1, 92, 105, 50, 9
    EDITTEXT IDC_XMSREQ, 144, 103, 30, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "KB &Limit", -1, 182, 105, 36, 9
    EDITTEXT IDC_XMSLIM, 220, 103, 36, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Directly Modifies:", -1, 6, 121, 84, 9
    AUTOCHECKBOX "COM&1", IDC_COM1, 92, 120, 40, 10, WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "COM&2", IDC_COM2, 136, 120, 40, 10, WS_TABSTOP
    AUTOCHECKBOX "&Keyboard", IDC_KEYBOARD, 180, 120, 52, 10, WS_TABSTOP
    AUTOCHECKBOX "No Screen &Exchange", IDC_NOSCREEN, 6, 135, 104, 10, WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Prevent Program S&witch", IDC_NOSWITCH, 120, 135, 116, 10, WS_TABSTOP
    AUTOCHECKBOX "&Close Window on Exit", IDC_CLOSE, 6, 149, 104, 10, WS_TABSTOP
    LTEXT "Reserve &Shortcut Keys:", -1, 6, 165, 84, 9
    AUTOCHECKBOX "Alt+Tab", IDC_ALTTAB, 92, 164, 44, 10, WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Alt+Esc", IDC_ALTESC, 140, 164, 44, 10, WS_TABSTOP
    AUTOCHECKBOX "Ctrl+Esc", IDC_CTRLESC, 188, 164, 48, 10, WS_TABSTOP
    AUTOCHECKBOX "PrtSc", IDC_PRTSC, 92, 178, 44, 10, WS_TABSTOP
    AUTOCHECKBOX "Alt+PrtSc", IDC_ALTPRTSC, 140, 178, 50, 10, WS_TABSTOP
}

ENHANCED DIALOG 20, 20, 262, 194
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "PIF Editor"
MENU PIFEDIT
{
    LTEXT "&Program Filename:", -1, 6, 8, 82, 9
    EDITTEXT IDC_PROGRAM, 92, 6, 164, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Window &Title:", -1, 6, 24, 82, 9
    EDITTEXT IDC_TITLE, 92, 22, 164, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Optional Pa&rameters:", -1, 6, 40, 84, 9
    EDITTEXT IDC_PARAMS, 92, 38, 164, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Start-up &Directory:", -1, 6, 56, 82, 9
    EDITTEXT IDC_DIR, 92, 54, 164, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Video Memory:", -1, 6, 73, 82, 9
    AUTORADIOBUTTON "Te&xt", IDC_VTEXT, 92, 72, 40, 10, WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "L&ow Graphics", IDC_VLOW, 136, 72, 60, 10
    AUTORADIOBUTTON "Hi&gh Graphics", IDC_VHIGH, 198, 72, 60, 10
    LTEXT "Memory Requirements:", -1, 6, 89, 84, 9
    LTEXT "KB Req&uired", -1, 92, 89, 50, 9
    EDITTEXT IDC_MEMREQ, 144, 87, 30, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "KB De&sired", -1, 178, 89, 44, 9
    EDITTEXT IDC_MEMDES, 222, 87, 34, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "EMS Memory:", -1, 6, 105, 84, 9
    LTEXT "KB Re&quired", -1, 92, 105, 50, 9
    EDITTEXT IDC_EMSREQ, 144, 103, 30, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "KB &Limit", -1, 182, 105, 36, 9
    EDITTEXT IDC_EMSLIM, 220, 103, 36, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "XMS Memory:", -1, 6, 121, 84, 9
    LTEXT "KB Requ&ired", -1, 92, 121, 50, 9
    EDITTEXT IDC_XMSREQ, 144, 119, 30, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "KB Limit", -1, 182, 121, 36, 9
    EDITTEXT IDC_XMSLIM, 220, 119, 36, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Display Usage:", -1, 6, 137, 84, 9
    AUTORADIOBUTTON "Full Scree&n", IDC_FULLSCREEN, 92, 136, 60, 10, WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "&Windowed", IDC_WINDOWED, 156, 136, 52, 10
    LTEXT "Execution:", -1, 6, 152, 84, 9
    AUTOCHECKBOX "&Background", IDC_BACKGROUND, 92, 151, 60, 10, WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "&Exclusive", IDC_EXCLUSIVE, 156, 151, 52, 10, WS_TABSTOP
    AUTOCHECKBOX "&Close Window on Exit", IDC_CLOSE, 6, 172, 104, 10, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "&Advanced...", IDC_ADVANCED, 198, 170, 58, 14, WS_TABSTOP | WS_GROUP
}

ADVANCED DIALOG 30, 20, 262, 214
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Advanced Options"
{
    GROUPBOX "Multitasking Options", -1, 4, 2, 200, 44
    LTEXT "&Background Priority:", -1, 10, 14, 80, 9
    EDITTEXT IDC_BGPRI, 92, 12, 34, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Foreground Priority:", -1, 10, 30, 80, 9
    EDITTEXT IDC_FGPRI, 92, 28, 34, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "&Detect Idle Time", IDC_IDLE, 132, 13, 70, 10, WS_TABSTOP | WS_GROUP
    GROUPBOX "Memory Options", -1, 4, 48, 254, 32
    AUTOCHECKBOX "&EMS Memory Locked", IDC_EMSLOCK, 10, 56, 90, 10, WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "X&MS Memory Locked", IDC_XMSLOCK, 132, 56, 90, 10, WS_TABSTOP
    AUTOCHECKBOX "Uses &High Memory Area", IDC_HMA, 10, 68, 108, 10, WS_TABSTOP
    AUTOCHECKBOX "&Lock Application Memory", IDC_LOCKAPP, 132, 68, 112, 10, WS_TABSTOP
    GROUPBOX "Display Options", -1, 4, 82, 254, 42
    LTEXT "Monitor Ports:", -1, 10, 92, 60, 9
    AUTOCHECKBOX "&Text", IDC_MONTEXT, 72, 91, 36, 10, WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Lo&w Graphics", IDC_MONLOW, 112, 91, 64, 10, WS_TABSTOP
    AUTOCHECKBOX "Hi&gh Graphics", IDC_MONHIGH, 180, 91, 64, 10, WS_TABSTOP
    AUTOCHECKBOX "Emulate Te&xt Mode", IDC_EMULATE, 10, 106, 90, 10, WS_TABSTOP
    AUTOCHECKBOX "&Retain Video Memory", IDC_RETAIN, 132, 106, 100, 10, WS_TABSTOP
    GROUPBOX "Other Options", -1, 4, 126, 254, 66
    AUTOCHECKBOX "Allow Fast &Paste", IDC_FASTPASTE, 10, 136, 90, 10, WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Allow &Close When Active", IDC_ALLOWCLOSE, 132, 136, 112, 10, WS_TABSTOP
    LTEXT "Reserve Shortcut Keys:", -1, 10, 152, 90, 9
    AUTOCHECKBOX "Alt+Tab", IDC_ALTTAB, 10, 164, 44, 10, WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Alt+Esc", IDC_ALTESC, 58, 164, 44, 10, WS_TABSTOP
    AUTOCHECKBOX "Ctrl+Esc", IDC_CTRLESC, 106, 164, 48, 10, WS_TABSTOP
    AUTOCHECKBOX "PrtSc", IDC_PRTSC, 158, 164, 40, 10, WS_TABSTOP
    AUTOCHECKBOX "Alt+PrtSc", IDC_ALTPRTSC, 10, 177, 50, 10, WS_TABSTOP
    AUTOCHECKBOX "Alt+Space", IDC_ALTSPACE, 64, 177, 50, 10, WS_TABSTOP
    AUTOCHECKBOX "Alt+Enter", IDC_ALTENTER, 118, 177, 50, 10, WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 208, 6, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 208, 24, 50, 14, WS_TABSTOP
}

ABOUT DIALOG 40, 40, 180, 64
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "About PIF Editor"
{
    ICON "PIFEDIT", -1, 8, 8, 18, 20
    LTEXT "PIF Editor", -1, 36, 8, 136, 9
    LTEXT "Program information files tell how to run DOS programs.", -1, 36, 20, 136, 26
    DEFPUSHBUTTON "OK", IDOK, 122, 46, 50, 14, WS_TABSTOP
}

PIFEDIT ACCELERATORS {
    VK_F1, IDM_HELPINDEX, VIRTKEY
}
