// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "helpmenu.h"
#include "progman.h"

PROGMAN ICON "build\\win\\icons\\progman.ico"
GROUP ICON "build\\win\\icons\\group.ico"
DOS ICON "build\\win\\icons\\dos.ico"

PROGMAN MENU {
    POPUP "&File" {
        MENUITEM "&New...", IDM_NEW
        MENUITEM "&Open\tEnter", IDM_OPEN
        MENUITEM "&Move...\tF7", IDM_MOVE
        MENUITEM "&Copy...\tF8", IDM_COPY
        MENUITEM "&Delete\tDel", IDM_DELETE
        MENUITEM "&Properties...\tAlt+Enter", IDM_PROPERTIES
        MENUITEM SEPARATOR
        MENUITEM "&Run...", IDM_RUN
        MENUITEM SEPARATOR
        MENUITEM "E&xit Interface Manager...", IDM_EXIT
    }
    POPUP "&Options" {
        MENUITEM "&Auto Arrange", IDM_AUTOARRANGE
        MENUITEM "&Minimize on Use", IDM_MINONRUN
    }
    POPUP "&Window" {
        MENUITEM "&Cascade\tShift+F5", IDM_CASCADE
        MENUITEM "&Tile\tShift+F4", IDM_TILE
        MENUITEM "&Arrange Icons", IDM_ARRANGE
    }
    POPUP "&Help" {
        MENUITEM "&Index", IDM_HELPINDEX
        MENUITEM "&Keyboard", IDM_HELPKEYBOARD
        MENUITEM "&Commands", IDM_HELPCOMMANDS
        MENUITEM "&Procedures", IDM_HELPPROCEDURES
        MENUITEM "&Using Help", IDM_HELPUSING
        MENUITEM SEPARATOR
        MENUITEM "&About Program Manager...", IDM_ABOUT
    }
}

PROGMAN ACCELERATORS {
    VK_F7, IDM_MOVE, VIRTKEY
    VK_F8, IDM_COPY, VIRTKEY
    VK_DELETE, IDM_DELETE, VIRTKEY
    VK_RETURN, IDM_PROPERTIES, VIRTKEY, ALT
    VK_F5, IDM_CASCADE, VIRTKEY, SHIFT
    VK_F4, IDM_TILE, VIRTKEY, SHIFT
    VK_F1, IDM_HELPINDEX, VIRTKEY
}

NEWDLG DIALOG 20, 20, 160, 64
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "New Program Object"
{
    GROUPBOX "New", -1, 6, 4, 90, 40
    CONTROL "Program &Group", IDC_GROUP, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 12, 16, 80, 10
    CONTROL "Program &Item", IDC_ITEM, "BUTTON", BS_AUTORADIOBUTTON, 12, 28, 80, 10
    DEFPUSHBUTTON "OK", IDOK, 104, 6, 50, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 104, 24, 50, 14, WS_TABSTOP
}

ITEMDLG DIALOG 20, 20, 220, 56
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Program Item Properties"
{
    LTEXT "&Description:", -1, 6, 8, 50, 10
    EDITTEXT IDC_DESCRIPTION, 60, 6, 100, 12, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT "&Command Line:", -1, 6, 24, 54, 10
    EDITTEXT IDC_COMMAND, 60, 22, 100, 12, ES_AUTOHSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 166, 6, 48, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 166, 24, 48, 14, WS_TABSTOP
}

GROUPDLG DIALOG 20, 20, 220, 40
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Program Group Properties"
{
    LTEXT "&Description:", -1, 6, 8, 50, 10
    EDITTEXT IDC_DESCRIPTION, 60, 6, 100, 12, ES_AUTOHSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 166, 6, 48, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 166, 24, 48, 14, WS_TABSTOP
}

RUNDLG DIALOG 20, 20, 220, 50
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Run"
{
    LTEXT "&Command Line:", -1, 6, 8, 54, 10
    EDITTEXT IDC_COMMAND, 6, 20, 150, 12, ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL "Run &Minimized", IDC_MINIMIZED, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 6, 36, 80, 10
    DEFPUSHBUTTON "OK", IDOK, 166, 6, 48, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 166, 24, 48, 14, WS_TABSTOP
}

MOVEDLG DIALOG 20, 20, 200, 64
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Move Program Item"
{
    LTEXT "Item:", -1, 6, 8, 40, 10
    LTEXT "", IDC_NAME, 50, 8, 90, 10, SS_NOPREFIX
    LTEXT "&To Group:", -1, 6, 26, 40, 10
    COMBOBOX IDC_TOGROUP, 50, 24, 90, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 146, 6, 48, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 146, 24, 48, 14, WS_TABSTOP
}

EXITDLG DIALOG 60, 40, 200, 52
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Exit Interface Manager"
{
    LTEXT "This will end your Interface Manager session.", -1, 8, 8, 186, 10
    CONTROL "&Save Changes", IDC_SAVE, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 22, 80, 10
    DEFPUSHBUTTON "OK", IDOK, 44, 34, 50, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 106, 34, 50, 14, WS_TABSTOP
}
