// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "helpmenu.h"
#include "recorder.h"

RECORDER ICON "build\\win\\icons\\recorder.ico"

RECORDER MENU {
    POPUP "&File" {
        MENUITEM "&New", IDM_NEW
        MENUITEM "&Open...", IDM_OPEN
        MENUITEM "&Save", IDM_SAVE
        MENUITEM "Save &As...", IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    }
    POPUP "&Macro" {
        MENUITEM "&Run", IDM_RUN
        MENUITEM "Re&cord...", IDM_RECORD
        MENUITEM "&Delete", IDM_DELETE
        MENUITEM "&Properties...", IDM_PROPERTIES
    }
    POPUP "&Options" {
        MENUITEM "&Shortcut Keys", IDM_SHORTCUTS
        MENUITEM "&Minimize On Use", IDM_MINIMIZE
    }
    POPUP "&Help" {
        MENUITEM "&Index", IDM_HELPINDEX
        MENUITEM "&Keyboard", IDM_HELPKEYBOARD
        MENUITEM "&Commands", IDM_HELPCOMMANDS
        MENUITEM "&Procedures", IDM_HELPPROCEDURES
        MENUITEM "&Using Help", IDM_HELPUSING
        MENUITEM SEPARATOR
        MENUITEM "&About Recorder...", IDM_ABOUT
    }
}

RECORD DIALOG 10, 10, 262, 178
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Record Macro"
{
    LTEXT "Record Macro &Name:", -1, 6, 8, 76, 9
    EDITTEXT IDC_NAME, 84, 6, 116, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    GROUPBOX "Shortcut Key", -1, 6, 24, 120, 58
    COMBOBOX IDC_KEY, 12, 36, 58, 90, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | WS_GROUP
    CONTROL "&Ctrl", IDC_CTRL, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 76, 36, 44, 10
    CONTROL "&Shift", IDC_SHIFT, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 76, 50, 44, 10
    CONTROL "&Alt", IDC_ALT, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 76, 64, 44, 10
    GROUPBOX "Playback", -1, 132, 24, 124, 72
    LTEXT "&To:", -1, 138, 37, 26, 9
    COMBOBOX IDC_TO, 166, 35, 84, 40, CBS_DROPDOWNLIST | WS_TABSTOP | WS_GROUP
    LTEXT "S&peed:", -1, 138, 52, 26, 9
    COMBOBOX IDC_SPEED, 166, 50, 84, 40, CBS_DROPDOWNLIST | WS_TABSTOP | WS_GROUP
    CONTROL "C&ontinuous Loop", IDC_LOOP, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 138, 66, 110, 10
    CONTROL "&Enable Shortcut Keys", IDC_ENABLE, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 138, 80, 110, 10
    LTEXT "Record &Mouse:", -1, 6, 90, 54, 9
    COMBOBOX IDC_MOUSE, 62, 88, 64, 50, CBS_DROPDOWNLIST | WS_TABSTOP | WS_GROUP
    LTEXT "&Relative to:", -1, 6, 106, 54, 9
    COMBOBOX IDC_RELATIVE, 62, 104, 64, 40, CBS_DROPDOWNLIST | WS_TABSTOP | WS_GROUP
    LTEXT "&Description", -1, 6, 122, 60, 9
    EDITTEXT IDC_DESCRIPTION, 6, 132, 194, 40, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "Start", IDOK, 206, 132, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 206, 150, 50, 14, WS_TABSTOP
}

STOPPED DIALOG 40, 40, 176, 62
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Recorder"
{
    LTEXT "Recorder is suspended.", -1, 8, 6, 104, 9
    CONTROL "&Save Macro", IDC_SAVE, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 12, 20, 100, 10
    CONTROL "&Resume Recording", IDC_RESUME, "BUTTON", BS_AUTORADIOBUTTON, 12, 33, 100, 10
    CONTROL "&Cancel Recording", IDC_DISCARD, "BUTTON", BS_AUTORADIOBUTTON, 12, 46, 100, 10
    DEFPUSHBUTTON "OK", IDOK, 120, 8, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 120, 26, 50, 14, WS_TABSTOP
}

RECORDER ACCELERATORS {
    VK_F1, IDM_HELPINDEX, VIRTKEY
}
