// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "helpmenu.h"
#include "sol.h"

SOL ICON "build\\win\\icons\\sol.ico"

SOL MENU {
    POPUP "&Game" {
        MENUITEM "&Deal\tF2", IDM_DEAL
        MENUITEM SEPARATOR
        MENUITEM "&Undo\tBackspace", IDM_UNDO
        MENUITEM "De&ck...", IDM_DECK
        MENUITEM "&Options...", IDM_OPTIONS
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    }
    POPUP "&Help" {
        MENUITEM "&Index", IDM_HELPINDEX
        MENUITEM "&Keyboard", IDM_HELPKEYBOARD
        MENUITEM "&Commands", IDM_HELPCOMMANDS
        MENUITEM "&Procedures", IDM_HELPPROCEDURES
        MENUITEM "&Using Help", IDM_HELPUSING
        MENUITEM SEPARATOR
        MENUITEM "&About Solitaire...", IDM_ABOUT
    }
}

SOL ACCELERATORS {
    VK_F2, IDM_DEAL, VIRTKEY
    VK_BACK, IDM_UNDO, VIRTKEY
    VK_F1, IDM_HELPINDEX, VIRTKEY
}

OPTIONSDLG DIALOG 30, 30, 140, 50
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Options"
{
    GROUPBOX "Draw", -1, 6, 4, 70, 40
    CONTROL "Draw &One", IDC_DRAWONE, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 12, 16, 60, 10
    CONTROL "Draw &Three", IDC_DRAWTHREE, "BUTTON", BS_AUTORADIOBUTTON, 12, 28, 60, 10
    DEFPUSHBUTTON "OK", IDOK, 84, 6, 50, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 84, 24, 50, 14, WS_TABSTOP
}

DECKDLG DIALOG 30, 30, 140, 50
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Select Card Back"
{
    GROUPBOX "Back", -1, 6, 4, 70, 40
    CONTROL "&Blue", IDC_BLUE, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 12, 16, 60, 10
    CONTROL "&Red", IDC_RED, "BUTTON", BS_AUTORADIOBUTTON, 12, 28, 60, 10
    DEFPUSHBUTTON "OK", IDOK, 84, 6, 50, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 84, 24, 50, 14, WS_TABSTOP
}
