// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "taskman.h"

TASKMAN ICON "build\\win\\icons\\taskman.ico"

TASKLIST DIALOG 0, 0, 164, 106
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Task List"
{
    LISTBOX IDC_TASKS, 6, 6, 152, 54, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP
    DEFPUSHBUTTON "&Switch To", IDC_SWITCH, 6, 66, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "&End Task", IDC_END, 58, 66, 48, 14, WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 110, 66, 48, 14, WS_TABSTOP
    PUSHBUTTON "&Cascade", IDC_CASCADE, 6, 86, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "&Tile", IDC_TILE, 58, 86, 48, 14, WS_TABSTOP
    PUSHBUTTON "&Arrange Icons", IDC_ARRANGE, 110, 86, 48, 14, WS_TABSTOP
}
