// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "helpmenu.h"
#include "terminal.h"

TERMINAL ICON "build\\win\\icons\\terminal.ico"

TERMINAL MENU {
    POPUP "&File" {
        MENUITEM "&New", IDM_NEW
        MENUITEM "&Open...", IDM_OPEN
        MENUITEM "&Save", IDM_SAVE
        MENUITEM "Save &As...", IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    }
    POPUP "&Edit" {
        MENUITEM "&Paste\tShift+Ins", IDM_PASTE
        MENUITEM "&Clear Buffer", IDM_CLEAR
    }
    POPUP "&Settings" {
        MENUITEM "&Phone Number...", IDM_PHONE
        MENUITEM "Terminal &Emulation...", IDM_EMULATION
        MENUITEM "&Terminal Preferences...", IDM_PREFERENCES
        MENUITEM "&Communications...", IDM_COMMUNICATIONS
        MENUITEM "&Modem Commands...", IDM_MODEM
    }
    POPUP "&Phone" {
        MENUITEM "&Dial", IDM_DIAL
        MENUITEM "&Hangup", IDM_HANGUP
    }
    POPUP "&Transfers" {
        MENUITEM "&Send Text File...", IDM_SENDTEXT
        MENUITEM "&Receive Text File...", IDM_RECEIVETEXT
        MENUITEM SEPARATOR
        MENUITEM "S&top", IDM_STOP
    }
    POPUP "&Help" {
        MENUITEM "&Index", IDM_HELPINDEX
        MENUITEM "&Keyboard", IDM_HELPKEYBOARD
        MENUITEM "&Commands", IDM_HELPCOMMANDS
        MENUITEM "&Procedures", IDM_HELPPROCEDURES
        MENUITEM "&Using Help", IDM_HELPUSING
        MENUITEM SEPARATOR
        MENUITEM "&About Terminal...", IDM_ABOUT
    }
}

TERMINAL ACCELERATORS {
    VK_INSERT, IDM_PASTE, VIRTKEY, SHIFT
    VK_F1, IDM_HELPINDEX, VIRTKEY
}

COMMUNICATIONS DIALOG 10, 10, 248, 150
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Communications"
{
    GROUPBOX "Baud Rate", -1, 6, 4, 182, 36
    CONTROL "110", IDC_BAUD, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 12, 14, 40, 10
    CONTROL "300", IDC_BAUD+1, "BUTTON", BS_AUTORADIOBUTTON, 56, 14, 40, 10
    CONTROL "600", IDC_BAUD+2, "BUTTON", BS_AUTORADIOBUTTON, 100, 14, 40, 10
    CONTROL "1200", IDC_BAUD+3, "BUTTON", BS_AUTORADIOBUTTON, 144, 14, 40, 10
    CONTROL "2400", IDC_BAUD+4, "BUTTON", BS_AUTORADIOBUTTON, 12, 26, 40, 10
    CONTROL "4800", IDC_BAUD+5, "BUTTON", BS_AUTORADIOBUTTON, 56, 26, 40, 10
    CONTROL "9600", IDC_BAUD+6, "BUTTON", BS_AUTORADIOBUTTON, 100, 26, 40, 10
    CONTROL "19200", IDC_BAUD+7, "BUTTON", BS_AUTORADIOBUTTON, 144, 26, 40, 10
    GROUPBOX "Data Bits", -1, 6, 44, 88, 24
    CONTROL "5", IDC_DATA, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 12, 54, 18, 10
    CONTROL "6", IDC_DATA+1, "BUTTON", BS_AUTORADIOBUTTON, 32, 54, 18, 10
    CONTROL "7", IDC_DATA+2, "BUTTON", BS_AUTORADIOBUTTON, 52, 54, 18, 10
    CONTROL "8", IDC_DATA+3, "BUTTON", BS_AUTORADIOBUTTON, 72, 54, 18, 10
    GROUPBOX "Stop Bits", -1, 100, 44, 88, 24
    CONTROL "1", IDC_STOP, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 106, 54, 20, 10
    CONTROL "1.5", IDC_STOP+1, "BUTTON", BS_AUTORADIOBUTTON, 128, 54, 26, 10
    CONTROL "2", IDC_STOP+2, "BUTTON", BS_AUTORADIOBUTTON, 158, 54, 20, 10
    GROUPBOX "Parity", -1, 6, 72, 56, 72
    CONTROL "&None", IDC_PARITY, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 12, 82, 44, 10
    CONTROL "&Odd", IDC_PARITY+1, "BUTTON", BS_AUTORADIOBUTTON, 12, 94, 44, 10
    CONTROL "&Even", IDC_PARITY+2, "BUTTON", BS_AUTORADIOBUTTON, 12, 106, 44, 10
    CONTROL "&Mark", IDC_PARITY+3, "BUTTON", BS_AUTORADIOBUTTON, 12, 118, 44, 10
    CONTROL "S&pace", IDC_PARITY+4, "BUTTON", BS_AUTORADIOBUTTON, 12, 130, 44, 10
    GROUPBOX "Flow Control", -1, 68, 72, 64, 48
    CONTROL "&Xon/Xoff", IDC_FLOW, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 74, 82, 54, 10
    CONTROL "&Hardware", IDC_FLOW+1, "BUTTON", BS_AUTORADIOBUTTON, 74, 94, 54, 10
    CONTROL "N&one", IDC_FLOW+2, "BUTTON", BS_AUTORADIOBUTTON, 74, 106, 54, 10
    GROUPBOX "Connector", -1, 138, 72, 50, 72
    CONTROL "None", IDC_PORT, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 144, 82, 40, 10
    CONTROL "COM&1:", IDC_PORT+1, "BUTTON", BS_AUTORADIOBUTTON, 144, 94, 40, 10
    CONTROL "COM&2:", IDC_PORT+2, "BUTTON", BS_AUTORADIOBUTTON, 144, 106, 40, 10
    CONTROL "COM&3:", IDC_PORT+3, "BUTTON", BS_AUTORADIOBUTTON, 144, 118, 40, 10
    CONTROL "COM&4:", IDC_PORT+4, "BUTTON", BS_AUTORADIOBUTTON, 144, 130, 40, 10
    DEFPUSHBUTTON "OK", IDOK, 194, 6, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 194, 24, 48, 14, WS_TABSTOP
}

EMULATION DIALOG 20, 20, 168, 46
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Terminal Emulation"
{
    CONTROL "&TTY (Generic)", IDC_TTY, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 8, 10, 100, 10
    CONTROL "DEC &VT-100 (ANSI)", IDC_VT100, "BUTTON", BS_AUTORADIOBUTTON, 8, 24, 100, 10
    DEFPUSHBUTTON "OK", IDOK, 114, 6, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 114, 24, 48, 14, WS_TABSTOP
}

PREFERENCES DIALOG 20, 20, 206, 96
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Terminal Preferences"
{
    GROUPBOX "Terminal Modes", -1, 6, 4, 82, 50
    CONTROL "&Line Wrap", IDC_WRAP, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 12, 14, 72, 10
    CONTROL "Local &Echo", IDC_ECHO, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 26, 72, 10
    CONTROL "&Sound", IDC_SOUND, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 38, 72, 10
    GROUPBOX "CR -> CR/LF", -1, 94, 4, 50, 50
    CONTROL "&Inbound", IDC_INBOUND, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 100, 14, 42, 10
    CONTROL "&Outbound", IDC_OUTBOUND, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 100, 26, 42, 10
    LTEXT "&Buffer Lines:", -1, 8, 64, 48, 9
    EDITTEXT IDC_LINES, 58, 62, 30, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 152, 6, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 152, 24, 48, 14, WS_TABSTOP
}

PHONE DIALOG 20, 20, 196, 50
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Phone Number"
{
    LTEXT "&Dial:", -1, 6, 8, 36, 9
    EDITTEXT IDC_NUMBER, 46, 6, 90, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Timeout If Not Connected In", -1, 6, 28, 100, 9
    EDITTEXT IDC_TIMEOUT, 108, 26, 20, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Seconds", -1, 130, 28, 30, 9
    DEFPUSHBUTTON "OK", IDOK, 142, 6, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 142, 24, 48, 14, WS_TABSTOP
}

MODEM DIALOG 20, 20, 196, 78
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Modem Commands"
{
    LTEXT "Prefix:", -1, 50, 4, 40, 9
    LTEXT "Suffix:", -1, 96, 4, 40, 9
    LTEXT "&Dial", -1, 6, 16, 40, 9
    EDITTEXT IDC_DIALPREFIX, 50, 14, 40, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_DIALSUFFIX, 96, 14, 40, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Hangup", -1, 6, 32, 40, 9
    EDITTEXT IDC_HANGPREFIX, 50, 30, 40, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_HANGSUFFIX, 96, 30, 40, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Originate", -1, 6, 48, 40, 9
    EDITTEXT IDC_ORIGINATE, 50, 46, 86, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 142, 6, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 142, 24, 48, 14, WS_TABSTOP
}
