// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "helpmenu.h"
#include "write.h"
// The resources are MSWRITE: WRITE is a constant of windows.h (an _lopen mode).

MSWRITE ICON "build\\win\\icons\\write.ico"

MSWRITE MENU {
    POPUP "&File" {
        MENUITEM "&New", IDM_NEW
        MENUITEM "&Open...", IDM_OPEN
        MENUITEM "&Save", IDM_SAVE
        MENUITEM "Save &As...", IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "&Print...", IDM_PRINT
        MENUITEM "P&rint Setup...", IDM_PRINTSETUP
        MENUITEM "Repa&ginate...", IDM_REPAGINATE
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    }
    POPUP "&Edit" {
        MENUITEM "&Undo\tCtrl+Z", IDM_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X", IDM_CUT
        MENUITEM "&Copy\tCtrl+C", IDM_COPY
        MENUITEM "&Paste\tCtrl+V", IDM_PASTE
        MENUITEM SEPARATOR
        MENUITEM "&Move Picture", IDM_MOVEPICTURE
        MENUITEM "Si&ze Picture", IDM_SIZEPICTURE
    }
    POPUP "Fi&nd" {
        MENUITEM "&Find...", IDM_FIND
        MENUITEM "&Repeat Last Find\tF3", IDM_FINDNEXT
        MENUITEM "&Change...", IDM_CHANGE
        MENUITEM "&Go To Page...\tF4", IDM_GOTOPAGE
    }
    POPUP "&Character" {
        MENUITEM "&Regular\tF5", IDM_REGULAR
        MENUITEM SEPARATOR
        MENUITEM "&Bold\tCtrl+B", IDM_BOLD
        MENUITEM "&Italic\tCtrl+I", IDM_ITALIC
        MENUITEM "&Underline\tCtrl+U", IDM_UNDERLINE
        MENUITEM SEPARATOR
        MENUITEM "Su&perscript", IDM_SUPERSCRIPT
        MENUITEM "Subs&cript", IDM_SUBSCRIPT
        MENUITEM SEPARATOR
        MENUITEM "Reduce &Font", IDM_REDUCE
        MENUITEM "&Enlarge Font", IDM_ENLARGE
        MENUITEM "Fo&nts...", IDM_FONTS
    }
    POPUP "&Paragraph" {
        MENUITEM "&Normal", IDM_NORMAL
        MENUITEM SEPARATOR
        MENUITEM "&Left", IDM_LEFT
        MENUITEM "&Centered", IDM_CENTERED
        MENUITEM "&Right", IDM_RIGHT
        MENUITEM "&Justified", IDM_JUSTIFIED
        MENUITEM SEPARATOR
        MENUITEM "&Single Space", IDM_SINGLE
        MENUITEM "1 1/&2 Space", IDM_ONEHALF
        MENUITEM "&Double Space", IDM_DOUBLE
        MENUITEM SEPARATOR
        MENUITEM "&Indents...", IDM_INDENTS
    }
    POPUP "&Document" {
        MENUITEM "&Header...", IDM_HEADER
        MENUITEM "&Footer...", IDM_FOOTER
        MENUITEM SEPARATOR
        MENUITEM "&Tabs...", IDM_TABS
        MENUITEM "&Page Layout...", IDM_PAGELAYOUT
    }
    POPUP "&Help" {
        MENUITEM "&Index", IDM_HELPINDEX
        MENUITEM "&Keyboard", IDM_HELPKEYBOARD
        MENUITEM "&Commands", IDM_HELPCOMMANDS
        MENUITEM "&Procedures", IDM_HELPPROCEDURES
        MENUITEM "&Using Help", IDM_HELPUSING
        MENUITEM SEPARATOR
        MENUITEM "&About Write...", IDM_ABOUT
    }
}

MSWRITE ACCELERATORS {
    "Z", IDM_UNDO, VIRTKEY, CONTROL
    "X", IDM_CUT, VIRTKEY, CONTROL
    "C", IDM_COPY, VIRTKEY, CONTROL
    "V", IDM_PASTE, VIRTKEY, CONTROL
    "B", IDM_BOLD, VIRTKEY, CONTROL
    "I", IDM_ITALIC, VIRTKEY, CONTROL
    "U", IDM_UNDERLINE, VIRTKEY, CONTROL
    VK_F3, IDM_FINDNEXT, VIRTKEY
    VK_F4, IDM_GOTOPAGE, VIRTKEY
    VK_F5, IDM_REGULAR, VIRTKEY
    VK_F1, IDM_HELPINDEX, VIRTKEY
}

FIND DIALOG 20, 20, 210, 54
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Find"
{
    LTEXT "Fi&nd What:", -1, 6, 8, 40, 9
    EDITTEXT IDC_WHAT, 48, 6, 100, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    CONTROL "Match &Whole Word Only", IDC_WHOLE, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 6, 24, 110, 10
    CONTROL "Match &Case", IDC_CASE, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 6, 38, 110, 10
    DEFPUSHBUTTON "&Find Next", IDOK, 154, 6, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 154, 24, 50, 14, WS_TABSTOP
}

CHANGE DIALOG 20, 20, 214, 70
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Change"
{
    LTEXT "Fi&nd What:", -1, 6, 8, 44, 9
    EDITTEXT IDC_WHAT, 52, 6, 96, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "Change &To:", -1, 6, 24, 44, 9
    EDITTEXT IDC_TO, 52, 22, 96, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    CONTROL "Match &Whole Word Only", IDC_WHOLE, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 6, 40, 110, 10
    CONTROL "Match &Case", IDC_CASE, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 6, 54, 110, 10
    DEFPUSHBUTTON "&Find Next", IDOK, 156, 4, 52, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "&Change", IDC_CHANGE, 156, 20, 52, 14, WS_TABSTOP
    PUSHBUTTON "Change &All", IDC_CHANGEALL, 156, 36, 52, 14, WS_TABSTOP
    PUSHBUTTON "Close", IDCANCEL, 156, 52, 52, 14, WS_TABSTOP
}

GOTOPAGE DIALOG 30, 30, 140, 30
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Go To"
{
    LTEXT "&Page Number:", -1, 6, 10, 50, 9
    EDITTEXT IDC_PAGE, 58, 8, 24, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 88, 6, 46, 14, WS_TABSTOP | WS_GROUP
}

FONTS DIALOG 20, 20, 188, 96
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Fonts"
{
    LTEXT "&Font Name:", -1, 6, 4, 70, 9
    LISTBOX IDC_FACE, 6, 14, 90, 76, LBS_NOTIFY | LBS_SORT | WS_VSCROLL | WS_BORDER | WS_TABSTOP | WS_GROUP
    LTEXT "&Point Size:", -1, 102, 4, 40, 9
    LISTBOX IDC_POINTS, 102, 14, 30, 76, LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 136, 14, 46, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 136, 32, 46, 14, WS_TABSTOP
}

INDENTS DIALOG 20, 20, 168, 58
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Indents"
{
    LTEXT "&Left Indent:", -1, 6, 8, 50, 9
    EDITTEXT IDC_LEFTIND, 62, 6, 40, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&First Line:", -1, 6, 24, 50, 9
    EDITTEXT IDC_FIRSTIND, 62, 22, 40, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Right Indent:", -1, 6, 40, 50, 9
    EDITTEXT IDC_RIGHTIND, 62, 38, 40, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 114, 6, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 114, 24, 48, 14, WS_TABSTOP
}

TABS DIALOG 20, 20, 300, 66
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Tabs"
{
    LTEXT "Positions:", -1, 6, 6, 40, 9
    EDITTEXT IDC_TAB, 48, 4, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_TAB+1, 80, 4, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_TAB+2, 112, 4, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_TAB+3, 144, 4, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_TAB+4, 176, 4, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_TAB+5, 208, 4, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    CONTROL "", IDC_DECIMAL, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 58, 18, 10, 10
    CONTROL "", IDC_DECIMAL+1, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 90, 18, 10, 10
    CONTROL "", IDC_DECIMAL+2, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 122, 18, 10, 10
    CONTROL "", IDC_DECIMAL+3, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 154, 18, 10, 10
    CONTROL "", IDC_DECIMAL+4, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 186, 18, 10, 10
    CONTROL "", IDC_DECIMAL+5, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 218, 18, 10, 10
    LTEXT "Decimal:", -1, 6, 18, 40, 9
    EDITTEXT IDC_TAB+6, 48, 32, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_TAB+7, 80, 32, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_TAB+8, 112, 32, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_TAB+9, 144, 32, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_TAB+10, 176, 32, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    EDITTEXT IDC_TAB+11, 208, 32, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    CONTROL "", IDC_DECIMAL+6, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 58, 46, 10, 10
    CONTROL "", IDC_DECIMAL+7, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 90, 46, 10, 10
    CONTROL "", IDC_DECIMAL+8, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 122, 46, 10, 10
    CONTROL "", IDC_DECIMAL+9, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 154, 46, 10, 10
    CONTROL "", IDC_DECIMAL+10, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 186, 46, 10, 10
    CONTROL "", IDC_DECIMAL+11, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 218, 46, 10, 10
    LTEXT "Decimal:", -1, 6, 46, 40, 9
    DEFPUSHBUTTON "OK", IDOK, 246, 4, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 246, 22, 48, 14, WS_TABSTOP
}

PAGELAYOUT DIALOG 20, 20, 196, 76
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Page Layout"
{
    LTEXT "&Start Page Numbers At:", -1, 6, 8, 84, 9
    EDITTEXT IDC_STARTPAGE, 92, 6, 24, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    GROUPBOX "Margins (inches)", -1, 6, 22, 130, 48
    LTEXT "&Left:", -1, 12, 36, 24, 9
    EDITTEXT IDC_MLEFT, 38, 34, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Right:", -1, 72, 36, 24, 9
    EDITTEXT IDC_MRIGHT, 100, 34, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Top:", -1, 12, 52, 24, 9
    EDITTEXT IDC_MTOP, 38, 50, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Bottom:", -1, 72, 52, 26, 9
    EDITTEXT IDC_MBOTTOM, 100, 50, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 142, 6, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 142, 24, 48, 14, WS_TABSTOP
}

HEADER DIALOG 20, 20, 236, 62
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Header"
{
    LTEXT "&Text (# is the page number):", -1, 6, 6, 120, 9
    EDITTEXT IDC_HEADTEXT, 6, 16, 168, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    LTEXT "&Distance from Edge (inches):", -1, 6, 34, 110, 9
    EDITTEXT IDC_DISTANCE, 118, 32, 28, 12, ES_AUTOHSCROLL | WS_TABSTOP | WS_GROUP
    CONTROL "&Print on First Page", IDC_FIRSTPAGE, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP, 6, 48, 110, 10
    DEFPUSHBUTTON "OK", IDOK, 182, 6, 48, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 182, 24, 48, 14, WS_TABSTOP
}
