// SPDX-License-Identifier: GPL-2.0-or-later
#include "windefs.h"
#include "usertest.h"

STRINGTABLE {
    IDS_TITLE, "User test"
    IDS_SECOND, "Second string"
}

MAINMENU MENU {
    POPUP "&File" {
        MENUITEM "&Dialog...\tCtrl+D", IDM_DIALOG
        MENUITEM "&Message box...", IDM_MESSAGE
        MENUITEM SEPARATOR
        MENUITEM "&Checked", IDM_CHECKED, CHECKED
        MENUITEM "&Grayed", IDM_GRAYED, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    }
    POPUP "&Help" {
        MENUITEM "&About...", IDM_ABOUT
    }
}

MAINACCEL ACCELERATORS {
    "^D", IDM_DIALOG
    "^J", IDM_JOURNAL
    VK_F1, IDM_ABOUT, VIRTKEY
}

TESTDLG DIALOG 10, 10, 200, 120
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
CAPTION "Test Dialog"
{
    LTEXT "&Name:", IDC_LABEL, 6, 8, 30, 10
    EDITTEXT IDC_EDIT, 40, 6, 100, 12, ES_AUTOHSCROLL | WS_TABSTOP
    CONTROL "&Option", IDC_CHECK, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 6, 24, 60, 12
    CONTROL "&Red", IDC_RED, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 6, 38, 40, 12
    CONTROL "&Blue", IDC_BLUE, "BUTTON", BS_AUTORADIOBUTTON, 50, 38, 40, 12
    LISTBOX IDC_LIST, 100, 22, 60, 40, LBS_STANDARD | WS_TABSTOP | WS_GROUP
    COMBOBOX IDC_COMBO, 6, 54, 60, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT IDC_MULTI, 6, 72, 90, 24, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 140, 100, 50, 14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 84, 100, 50, 14, WS_TABSTOP
}
